<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/header :: header"></head>
<body>
    <div th:replace="fragments/layout/navigation :: main-nav"></div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12"> <h3>주문서</h3> </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="20%"></th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>수량</th>
                                <th>총 금액</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order : ${orderList}">
                                <td id="photo">
                                    <img src="/images/default_image.png" class="img-fluid" th:if="${#strings.isEmpty(order.productImage)}">
                                    <img th:if="${!#strings.isEmpty(order.productImage)}" class="img-fluid"
                                         th:src="${order.productImage}" alt="상품 이미지"/>
                                </td>
                                <td id="name" th:text="${order.name}"></td>
                                <td id="price" th:text="${#numbers.formatInteger(order.price, 0, 'COMMA')} + 원"></td>
                                <td id="quantity" th:text="${#numbers.formatInteger(order.totalQuantity, 0, 'COMMA')}"></td>
                                <td id="amount" th:text="${#numbers.formatInteger(order.totalAmount, 0, 'COMMA')} + 원"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span> 총 결제 금액 : </span>
                        <span th:text="${#numbers.formatInteger(totalPaymentAmount, 0, 'COMMA')} + 원"> </span>
                    </div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-sm-2">
                                <span>받으시는 분</span>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="deliveredName" type="text" class="form-control require-validation">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-2">
                                <span>전화번호</span>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="phoneNumber" type="text" class="form-control require-validation">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-2">
                                <span>주소</span>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="address" type="text" class="form-control require-validation">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-2">
                                <span>배송 시 요청사항</span>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="requestsForDelivery" type="text" class="form-control require-validation">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" id="btn-save" class="btn btn-primary mt-3" aria-describedby="submitHelp">주문하기</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap js -->
    <script th:replace="fragments/script/main-script :: jquery-script"></script>
    <script th:replace="fragments/script/main-script :: bootstrap-script"></script>
</body>
</html>